doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='text/css' href='/css/main.css')
  link(rel='stylesheet' type='text/css' href='/css/main.dark.css')
  script(src='contact.js')
  script(src='table.js')
  title Contact Us
.navbar
  ul
    li
      a(href='/main') Tree Planters
    li
      a(href='/testimonies') Testimonials
    li
      a(href='/contact') Contact Us
    a(href='/admin/contactlog') ADMIN Contact Log
    li
      button#themeToggle Toggle Theme

//- script.
//-   document.addEventListener('DOMContentLoaded', () => {
//-     const contactForm = document.querySelector('#contactForm');
//-     contactForm.addEventListener('submit', function(event) {
//-       event.preventDefault(); // Prevent the form from submitting the default way

//-       const formData = new FormData(this);
//-       fetch('/contact', {
//-         method: 'POST',
//-         body: formData
//-       })
//-       .then(response => {
//-         if (response.ok) {
//-           window.location.href = '/admin/contactlog'; // Redirect to the contactlog page
//-         } else {
//-           alert('Form submission failed');
//-         }
//-       })
//-       .catch(error => {
//-         console.error('Error:', error);
//-       });
//-     });
//-   });
h1 Contact Us
h1 Schedule an Appointment
.form-container
  form(action='/contact' method='post')
    label(for='name')  Your Name:
    input#name(type='text' name='name' required='')
    br
    br
    label(for='email')  Your Email:
    input#email(type='email' name='email' required='')
    br
    br
    label(for='date')  Today&apos;s Date:
    input#date(type='date' name='date')
    br
    br
    label(for='dropdown')  What Tree:
    select#dropdown(name='service')
      option(value='Bonsai') Bonsai
      option(value='Apple') Apple
      option(value='Maple') Mapple
      option(value='Pine') Pine
    br
    br
    // <label for="subscribe">Subscribe to Newsletter:</label>
    // <input type="checkbox" id="subscribe" name="subscribe" value="yes"><br><br>
    input(type='submit' value='Submit')
