doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='text/css' href='/css/main.css')
  link(rel='stylesheet' type='text/css' href='/css/main.dark.css')
  script(src='main.js')
  title Tree Planter
.navbar
  ul
    li
      a(href='/main') Tree Planters
    li
      a(href='/testimonies') Testimonials
    li
      a(href='/contact') Contact Us
    a(href='/admin/contactlog') ADMIN Contact Log
    li
      button#themeToggle Toggle Theme
div(id='Sale Banner')
.header
  h1 Tree Planter
  h2
    | We Plant Trees! &#x1F333; 
    strong Literally
.content
  .text-container
    .image-container
      img(src='/images/main' alt='Company Logo')
    .content-box
      p(style='text-align: left;')
        | Welcome to my company&apos;s website. I have dedicated my company to providing cutting-edge solutions to our clients by planting trees. With a passion for excellence and a commitment to customer satisfaction, we aim to exceed your expectations in every way.
      p
        | Our 
        strong vision
        |  is to transform the digital landscape and empower businesses to thrive in the modern world. We believe that 
        em innovation
        |  is the key to success, and our team of experts works tirelessly to create groundbreaking products and services that propel our clients forward.
      h3
        | Our 
        strong AMAZING
        |  Products and Services
      ol
        li Normal Everyday Tree Planting
        li Maple Tree Planting
        li Pine Tree Planting
        li Juniper Tree Planting
        li Bonsai Tree Planting
      p(style='text-align: center;')  &#x1F333; Thank You for Visiting our Site &amp; Product &#x1F333;
script(src='main.js')
