doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='text/css' href='/css/main.css')
  title Contact Us
.navbar
  ul
    li
      a(href='/main') Tree Planters
    li
      a(href='/testimonies') Testimonials
    li
      a(href='/contact') Contact Us
    a(href='/admin/contactlog') ADMIN Contact Log
h1 Contact Us
h1 Schedule an Appointment
title Form Submission Confirmation
h1 Form Submitted Successfully
p Thank you for submitting the form.
