doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='text/css' href='/css/main.css')
  title Customer Testimonials/Reviews!

//- style.
//-   body {
//-     background-color: #79AC78; /* Green color for the body background */
//-   }

.navbar
  ul
    li
      a(href='/main') Tree Planters
    li
      a(href='/contact') Contact Us
    a(href='/admin/contactlog') ADMIN Contact Log
    li
      button#themeToggle Toggle Theme
h1 Customer Testimonials/Reviews!
.video-container
  iframe(style='border: none;' width='600' height='315' src='https://www.youtube.com/embed/SJfpnGEMrKM?si=R1PDBMXPPpW66kcM' title='YouTube video player' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')
p
  strong  LOOK AT MY AWESOME REVIEWS
.reviews-container
  .review
    p.review-body
      | Excellent company! Their products and services have exceeded my expectations for my backyard.
    p.reviewer-name AvgNewYorker
  .review
    p.review-body
      | I&apos;ve been a loyal customer for years and have never stopped planting trees. The dude&apos;s team (him alone) is always responsive and 
      strong  SUPER 
      | helpful.
    p.reviewer-name Johonny
  .review
    p.review-body
      | Excellent company! Their products and services have exceeded my expectations for my backyard.
    p.reviewer-name AvgNewYorker
  .review
    p.review-body
      | I&apos;ve been a loyal customer for years and have never stopped planting trees. The dude&apos;s team (him alone) is always responsive and 
      strong  SUPER 
      | helpful.
    p.reviewer-name Johonny
  .review
    p.review-body
      | Excellent company! Their products and services have exceeded my expectations for my backyard.
    p.reviewer-name AvgNewYorker
  .review
    p.review-body
      | I&apos;ve been a loyal customer for years and have never stopped planting trees. The dude&apos;s team (him alone) is always responsive and 
      strong  SUPER 
      | helpful.
    p.reviewer-name Johonny
  .review
    p.review-body
      | Excellent company! Their products and services have exceeded my expectations for my backyard.
    p.reviewer-name AvgNewYorker
  .review
    p.review-body
      | I&apos;ve been a loyal customer for years and have never stopped planting trees. The dude&apos;s team (him alone) is always responsive and 
      strong  SUPER 
      | helpful.
    p.reviewer-name Johonny
  .review
    p.review-body
      | I&apos;ve been a loyal customer for years and have never stopped planting trees. The dude&apos;s team (him alone) is always responsive and 
      strong  SUPER 
      | helpful.
    p.reviewer-name Johonny
script(src='script.js')
